@import url('https://fonts.googleapis.com/css2?family=Kite+One&display=swap');
html{
    scroll-behavior: smooth;
    
}
body{
    margin: 0;
    padding: 0;
}
h1,h2,h3{
    font-family: 'Kite One', sans-serif;
}
li,a{
    font-family: 'Kite One', sans-serif;
}
table th,tfoot,tbody{
    font-family: 'Kite One', sans-serif;
}
#branchesForm fieldset{
    font-family: 'Kite One', sans-serif;
}
/* Home page css  */
body header nav ul {
    display: inline-block;
    list-style: none;
}
body header nav ul li{
    display: inline-block;
    line-height: 50px;
    margin-left: 50px;
}
body header nav ul li a{
    text-decoration: none;
    line-height: 50px;
}



/* sales Page css  */

#container{
    background-image: url('../img/cookieshop.jpg');
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    position: relative;
    margin: 0;
    padding: 0%;
}
.header{
    color: black;
    padding: 5px;
    background-color:  rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    width: 20%;
    margin-left: 15px;
}
table{
    text-align: center;
    border-collapse: collapse;
    background-color:  rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 500px;
    left:15px;
   
}
table thead  th:first-child, th:last-child {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 3px 3px 6px black;
    border-radius: 10px;
}
table thead tr th  {
    font-size: 16px;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    transition: background-color 2s,box-shadow .2s, border-radius 3s;
}
table thead tr th:hover  {
   
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 3px 3px 6px black;
    border-radius: 10px;
    }
table tbody th {
        padding: 10px 25px;
        font-size: 14px;
        color: white;
        box-shadow: 1px 1px 2px black;
        color: white;
        transition: background-color 1s,box-shadow .5s;
    }
table tbody th:hover{
        /* border: 1px solid black; */
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        box-shadow: 3px 3px 6px black;
    }    
table tbody td {
    padding: 10px 25px;
    font-size: 14px;
    border-bottom: 1px solid white;
    background-color: rgba(4, 92, 77, 0.5);
    color: white;
    transition: background-color 1s,box-shadow .5s;
}
table tbody td:hover {
    /* border: 1px solid black; */
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    box-shadow: 3px 3px 6px black;
}

table tfoot td {
    padding: 10px 25px;
    color: white;
    font-size: 16px;
    
    font-weight: bold;
    transition: box-shadow .5s, color 1s;
}
table tfoot td:hover{
    color: black;
    box-shadow: 1px 1px 6px white;
}

#container a {
    position: absolute;
    font-size: 20px;
    top: 18px;
    right: 15px;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 30px;
    transition: background-color 2s, color 3s;
    border-radius: 3px;
}
#container a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}


#footerDiv{
    display: flex;
}
#footerDiv div{
    flex: 1;
    margin-left: 17%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#footerDiv div a{
text-decoration: none;
color: black;
}
footer div p{
    width: 40%;
    margin: auto;
}
#fDiv2{
    background-color: #da5930;
    
}

.hs{
   float: right;
}


/* Form css work  */

#branchesForm fieldset{
    background-color:  rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(3px);
    color: black;
    padding: 30px;
    font-weight: bolder;
    width: 20%;
    height: 320px;
    text-align: left;
    margin: 20px auto;
    transition: background-color 2s, color 3s, box-shadow 3s;
}
#branchesForm fieldset:hover{
    background-color:  rgba(0, 0, 0, 0.2);
    color: white;
    box-shadow: 3px 3px 6px rgb(255, 255, 255);
}

#location, #min, #max, #average{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(255, 255, 255);
    background-color: rgba(4, 92, 77, 0.5);
    color: white;
}
#branchesForm input:last-child{
    width: 310px;
    height: 30px;
    padding: 5px 10px;
    background-color: rgba(4, 92, 77, 0.7);
    margin: 35px auto;
    border: none;
    border-radius: 5px;
    color: white;
}