table{
    text-align: center;
    border-collapse: collapse;
    background-color: rgb(211, 211, 211,0.3);
    margin: 50px auto;
}
table thead tr th  {
font-size: 15px;
color: rgb(0, 21, 29);
padding: 10px;
}
table tbody td {
    border: 1px solid black;
    background-color: lightsteelblue;
}

